* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#page11{
  background-color: #111B21 !important;
  overflow: hidden;
}
.text-blob {
  font-size: 100px;
  font-family: sans-serif;
  color: #fff;
  color: #25D366;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* fade-in and fade-out animation */
.fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
 
}
.fade-out {
  animation: fadeOut ease 5s;
  -webkit-animation: fadeOut ease 5s;
  -moz-animation: fadeOut ease 5s;
  -o-animation: fadeOut ease 5s;
  -ms-animation: fadeOut ease 5s;

}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}



  .gallery_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotateX(-8deg);
    transform-style: preserve-3d;
  }
  .gallery_box_outer {
    width: 15vw;
    height: 15vw;
    position: relative;
    transform: perspective(1000px);
    transform-style: preserve-3d;
  }
  .gallery_box_in {
    width: 100%;
    height: 100%;
    border-radius: 2vw ;
    padding: 2vw;
    position: absolute;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }



  .gallery_box_in:hover{
    background-color: #25D366 !important;

    .ri-lock-2-line{
      background-color: #0B141A;
      color: white;
    }
  }
.ri-lock-2-line{

  font-size: 2px;
  
  border: 1px solid black;
  
  border-radius: 50%;
  padding: 0.3vw;
  background-color: #25D366;
}
  .gallery_box_in h1 {
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
  }

  .gallery_box_in h2 {
    font-size: 1vw;
  }

  .gallery_box_in i {
    font-size: 2vw;
    color:#1C1E21;
    font-weight: 100;
   margin-right: 9vw;
  }
  .gallery_box_in:nth-child(1) {
    transform: rotateY(0deg) translateZ(450px);
    opacity: 1;
  }
  .gallery_box_in:nth-child(2) {
    transform: rotateY(40deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(3) {
    transform: rotateY(80deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(4) {
    transform: rotateY(120deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(5) {
    transform: rotateY(160deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(6) {
    transform: rotateY(200deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(7) {
    transform: rotateY(240deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(8) {
    transform: rotateY(280deg) translateZ(450px);
  }
  .gallery_box_in:nth-child(9) {
    transform: rotateY(320deg) translateZ(450px);
  }
  
  .spacer {
    width: 100%;
    height: 75vh;
  }
  