
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    
   

}
#main{
  position: relative;
  overflow: hidden;
  background-color: #FCF5EB;

}
#nav-bar{
   height: 12vh;
   width: 100%;
   background-color: #FCF5EB;
   position: fixed;
   z-index: 1000;
}
#page1{
   height: calc(100vh + 14vh);
   width: 100%;
   z-index: -9;
   background-color: #FCF5EB;
  
   
   
   
   

  
}

.carousel-inner {
   border-radius: 15px;
   display: flex;
   align-items: center;
   border: 1.2px solid black;
 
   

}
#carouselExampleIndicators{
   margin-top: 16vh;
   margin-left: 3vw;
   margin-right: 3vw;
  
   
}



#page2{
   height: calc(100vh + 14vh);
   width: 100vw;
   background-color: #FCF5EB;
  
}
.connection1{
   height: 30vh;
   width: 100%;
   background-color: aquamarine
}
#notes{
   height: 30vh;
   width: 100%;
   background-color: rgb(73, 152, 12);
}
.connection2{
   height: 30vh;
   width: 100%;
   background-color: rgb(180, 172, 18);
}

#page3{
   height:calc(100vh + 14vh);
   width: 100vw;
    display: flex;
   align-items: center;
   justify-content: space-around;
   
}
@media screen and (max-width: 568px) {
#page3{
   display: flex;
   align-items: center;
   flex-direction: column;
    
   
}

}

.card-body{
  border: none;
  background-color:  #FCF5EB;
}
.card-title{
   font-size: 3rem;
}
.card-text{
   font-size: 1.2rem;
}

#page4{
   height: calc(100vh + 14vh);
   width: 100%;
   background-color: #111B21;
   display: flex;
   align-items: center;
   justify-content: space-around;
   
}

.left-page4{
   height: 100vh;
   width: 60%;
  margin-left: 6%;
   display: flex;
   align-items: center;
   justify-content: center;
   
   
}
#txt{
   height: 100%;
   width: 90%;
   

}
#txt h1 {
   font-size: 3.7rem;
}
#green{
   color: #25D366;
}


.right-page4{
   height: 50vh;
   width: 40%;
   color: wheat;
   
   margin-right: 10%;

   
   
   
}






