@media (max-width: 600px) {

    #cursor{
       display: none;
    
    }
 
    #nav-bar{
       height: 12vh;
       width: 100%;
       background-color: #FCF5EB;
       position: fixed;
       z-index: 1;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding-left: 2vw;
       padding-right: 2vw;
    }
    
    #hamburger{
       font-size: 5vw;
       font-weight: 700;
       display: block;
    
       
    
    }
    
    
    
    #hamburger i {
       cursor: pointer;
    }
    
    #others{
       display: none;
       
       
    
    }
    
    #logo{
       display: flex;
       align-items: center;
       justify-content: center;
     
    }
    
   #logo img {
    font-size: 5vw;
 font-size: 400;
 height: 2vh;
 width: 2vh;
 
 }
    #logo h2 {
       display: inline-block;
    overflow: hidden;
    font-weight: 600;
    font-size: 3vw;
   
    
    }
    h2 span {
    display: inline-block;
    overflow: hidden;
    
     }
    
   
    #buttons{
       display: flex;
       align-items: center;
       justify-content: space-evenly;
     
       
    }
    
    #buttons a {
     padding: 2vw;
     font-size: 2vw;
    
       
    }
    
    .button {
       height: auto;
       width: auto;
       border: 2px solid black;
       display: inline-block;
      
       background-color: #25D366;
       color: #fff;
       text-decoration: none; /* Remove underline */
       border: none;
       border-radius: 50px;
       cursor: pointer;
       font-size: 16px;
       transition: background-color 0.3s ease;
       
     }
    
     /* Hover effect */
     .button:hover {
       background-color: #3de74e;
     }
 
 
     #full{
       height: 100vh;
       width: 100vw;
       background-color: #fcf5eb79;
       position: absolute;
       z-index: 3;
       display: flex;
     left: -110vw;
     top: 0;
       flex-direction: column;
       overflow: hidden;
      
       backdrop-filter: blur(10px);
       padding-top: 10vh;
       padding-left: 5vh;
       padding-right: 8vw;
    }
 
 
    #page1{
      height: fit-content;
       width: 100%;
      
       background-color: #FCF5EB;
       z-index: 2;
    
    }
    
    .carousel-inner {
       border-radius: 15px;
       display: flex;
       align-items: center;
       border: 1.2px solid black;
     
       
    
    }
    #carouselExampleIndicators{
       margin-top:12vh;
       margin-left: 3vw;
       margin-right: 3vw;
      
       
    }
 
    #full h4{
 
       margin-bottom: 3vw;
       border: 2px solid green;
       padding: 1vw;
 
    }
    #full h4 a {
       text-decoration: none;
       font-size: 7vw;
       color: black;
       
     
    }
    #full i {
       position: absolute;
       top: 5%;
       right: 10%;
      
       padding: 0.7vw;
       font-weight: 800;
       font-size: 6vw;
       cursor: pointer;
    }
 
 
 
 
    
 
 } 